@page
@model Projet.EmploiDuTemps.Pages.TypeSeances.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TypeSeance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeSeance.Intitule)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeSeance.Intitule)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TypeSeance.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
