@page
@model Projet.EmploiDuTemps.Pages.AddDataModel
@{
    ViewData["Title"] = "AddData";
}

<h2>Ajouter des données</h2>

<ul class="nav navbar-nav">
    <li><a asp-page="/Batiments/Index">Les Batiments</a></li>
    <br />
    <li><a asp-page="/Salles/Index">Les Salles</a></li>
    <br />
    <li><a asp-page="/Groupes/Index">Les Groupes</a></li>
    <br />
    <li><a asp-page="/UEs/Index">Les UEs</a></li>
    <br />
    <li><a asp-page="/Enseignants/Index">Les Enseignants</a></li>
    <br />
    <li><a asp-page="/Enseignements/Index">Les Enseignements</a></li>
    <br />
    <li><a asp-page="/TypeSeances/Index">Les Types de Seances</a></li>
</ul>